<div name="myForm" class="example-form2">

<div class="main-content" >
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">Filtros</h4>
                </div>
                <div class="card-body">
                
                    <form [formGroup]="appForm">
                        <div class="row">
                        
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Descrição</mat-label>
                                <input
                                  formControlName="dsIngredienteAtivo"
                                  type="text"
                                  matInput
                                  autocomplete="off"
                                />
                              </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Complemento</mat-label>
                                <input
                                  formControlName="dsComplemento"
                                  type="text"
                                  matInput
                                  name="dsComplemento"
                                  autocomplete="off"
                                />
                              </mat-form-field>
                            </div>

                        <div class="col-md-2">
                            <mat-form-field class="mat-select" >
                                <mat-label>Situação</mat-label>
                            <mat-select formControlName="ativo">
                                <mat-option  [value]="null">
                                    [Todos]  
                                  </mat-option>
                                <mat-option  [value]="true">
                                  Ativo
                                </mat-option>
                                <mat-option  [value]="false">
                                  Inativo
                                  </mat-option>
                              </mat-select>
                              </mat-form-field>
                        </div>
                    </div>

                    </form>
                
                <div class="row">
                    <div class="col-md-12">
                    <button class="btn btn-sm btn-round btn-success mdc-button--icon-leading" 
                    (click)="buscarDados()">
                      <span class="mdc-button__ripple"></span>
                      <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
                      <span class="mdc-button__label"> Pesquisa</span>
                    </button>
                    

                      
                        <button class="btn btn-sm btn-round btn-success mdc-button--icon-leading"
                        (click)="limpar()">
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">clear</i>
                            <span class="mdc-button__label"> Limpar</span>
                          </button>
                    
                </div>

            </div>
            </div>
        </div>
    </div>
    </div>
      <div class="row" *ngIf="pesquisado">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">Resultado da Pesquisa</h4>
                    
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" class="table">
  
                        <ng-container matColumnDef="codIngredienteAtivo">
                          <th mat-header-cell *matHeaderCellDef> Código</th>
                          <td mat-cell *matCellDef="let element"> {{element.codIngredienteAtivo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dsIngredienteAtivo">
                            <th mat-header-cell *matHeaderCellDef> Descrição </th>
                            <td mat-cell *matCellDef="let element"> {{element.dsIngredienteAtivo}} </td>
                          </ng-container>
                      
                         
                        <ng-container matColumnDef="dsComplemento">
                          <th mat-header-cell *matHeaderCellDef> Complemento </th>
                          <td mat-cell *matCellDef="let element"> {{element.dsComplemento}} </td>
                        </ng-container>
                      
                        
                        <ng-container matColumnDef="tipoIngredienteAtivo">
                          <th mat-header-cell *matHeaderCellDef> Tipo Ingrediente Ativo </th>
                          <td mat-cell *matCellDef="let element"> {{element.tipoIngredienteAtivo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ativo">
                            <th mat-header-cell *matHeaderCellDef> Situação </th>
                            <td mat-cell *matCellDef="let element"> {{element.ativo}} </td>
                          </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      
                      </div>
                  </div>
              </div>
          </div>
         </div>
         </div>
         
